/********************************************************************************/
/*	 Anyframe Web Common Cascading Style Sheet                                              */
/*       2005. 02. 23                                                           */
/********************************************************************************/


/* Form Validation Error  */
.common_error   {font-size: 10px; color: #C85555; font-weight:none; font-family: "Arial", "��="; text-decoration: none}

        {background:  white}
        BODY  {font-family: "Verdana ,arial ,����"; font-size: 9pt; color: #535353; margin: 10px 0px 0px 0px; padding: 0px 0px 0px 0px}
        TD  {font-family: "Verdana ,arial, ����"; font-size: 9pt; color: #535353}
        TR  {font-family: "Verdana ,arial, ����"; font-size: 9pt; color: #535353}
        FONT  {font-family: "Verdana ,arial, ����"; font-size: 9pt; color: #535353}
        I  {font-family: "Verdana ,arial, ����"; font-size: 9pt; color: #535353;font-style: italic}
        BIG  {font-family: "Verdana ,arial, ����"; font-size: 13pt; color: #535353;font-weight: bold}
        TH  {font-family: "Verdana ,arial, ����"; font-size: 9pt; color: #535353;font-weight: bold}
        H1 {font-family: "Arial"; font-size: 30pt; color: navy;}
        
STRONG {font-family: "Verdana ,arial ,����"; font-size: 9pt; color: 000000;text-decoration: none; margin-left=0}
        H2 {font-family: "Verdana ,arial ,����"; font-size: 9pt; color: 000000;text-decoration: none; margin-left=0}
        H3 {font-family: "Verdana ,arial ,����"; font-size: 9pt; color: 000000;text-decoration: none; margin-left=0}
        PRE {font-family: "Verdana ,arial ,����"; font-size: 9pt; color: 000000}
        P {font-family: "Verdana ,arial ,����"; font-size: 9pt; color: 000000}
        
BLOCKQUOTE {font-family: "Verdana ,arial ,����"; font-size:9pt; color: 535353}
        .WELCOMETITLE {font-family: "Verdana ,arial ,����"; font-size: 9pt; color: white; background: #666666; font-weight: bold}
        .WELCOMETITLE:link {font-family: "Verdana ,arial ,����"; font-size: 9pt; color: white; background: #666666; font-weight: bold}
        .WELCOMETITLE:visited {font-family: "Verdana ,arial ,����"; font-size: 9pt; color: white; background: #666666; font-weight: bold}
        .TOOLBAR {font-family: "Verdana ,arial ,����"; font-size: 9pt; color: 000000;font-weight: normal}
        .TOOLBAR:link {font-family: "Verdana ,arial ,����"; font-size: 9pt; color: 000000;font-weight: normal}
        .TOOLBAR:visited {font-family: "Verdana ,arial ,����"; font-size: 9pt; color: 000000;font-weight: normal}
        .TITLEBAR {font-family: "Verdana ,arial ,����"; font-size: 9pt; color: FFFFFF; background: navy;font-weight: bold}
        .MESSAGE {font-family: "Verdana ,arial ,����"; font-size: 8pt; color: 000000;font-weight: normal}
        .MESSAGE:link {font-family: "Verdana ,arial ,����"; font-size: 8pt; color: NAVY;font-weight: normal}
        .MESSAGE:visited {font-family: "Verdana ,arial ,����"; font-size: 8pt; color: BLACK;font-weight: normal}
        .MESSAGENEW {font-family: "Verdana ,arial ,����"; font-size: 8pt; color: 000000;font-weight: bold}
        .MESSAGENEW:link {font-family: "Verdana ,arial ,����"; font-size: 8pt; color: NAVY;font-weight: bold}
        .MESSAGENEW:visited {font-family: "Verdana ,arial ,����"; font-size: 8pt; color: BLACK;font-weight: bold}

