/* New */
.menus { 
    padding:0;
	font-size: 11px; 
	font-family: "verdana";
	color: #364c76;
	font-weight: bold;
	line-height: 22px;
	text-indent: 20px;
	background-color: #afc1e1;
	background-repeat:no-repeat;
   	}
.depth01 {
    padding:0;
    font-size: 11px;
	font-family: "verdana"; 
	line-height: 22px;
	color: #567195;
	display:block;
	width:177px;
	font-weight:bold;
	text-indent: 20px;
	border-bottom: 1px solid #cecece;
	background-color: #eee;
 	}
.depth01 a:link {
    padding:0;
    font-size: 11px; 
	font-family: "verdana";
	line-height: 22px;
	color: #567195;
	display:block;
	width:177px;
	font-weight:bold;
	text-indent: 20px;
	text-decoration:none;
	background-color: #eee;
 	}
.depth01 a:hover {
    font-size: 11px; 
	font-family: "verdana";
	line-height: 22px;
	color: #567195;
	display:block;
	width:177px;
	font-weight:bold;
	text-indent: 20px;
	text-decoration:none;
	background: #dadada url(/sample/images/menu_hover.png) left top no-repeat;
 	}
.depth01 a:visited {
    font-size: 11px;
	font-family: "verdana"; 
	line-height: 22px;
	color: #567195;
	display:block;
	width:177px;
	font-weight:bold;
	text-indent: 20px;
	background-color: #eee;
 	}