/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@namespace paging "samples.paging.*";

/* PagingLinkBar */
paging|PagingLinkBar {
	horizontalGap: 8;
	paddingBottom: 0;
	paddingLeft: 2;
	paddingRight: 2;
	paddingTop: 0;
	selectedButtonStyleName: "selectedButtonStyle";
	separatorColor: #C4CCCC;
	separatorSkin: ClassReference("mx.skins.halo.LinkSeparator");
	separatorWidth: 1;
	verticalGap: 8;
}

.selectedButtonStyle {
	color: #FF0000;
}

/* DataGrid */
mx|DataGrid
{
	headerStyleName: "datagridheader";
	borderColor: #A8A8AA;
	borderStyle: inset;
	chromeColor: #666C86;
	color: #000000;
	rollOverColor: #DBE6F1;
	selectionColor: #C3C5CE;
}
	
.datagridheader
{
	color: #FFFFFF;
	fontWeight: bold;
}

.dataGridHeaderCenter
{
	textAlign: "center";
}
