/*************************************************************************/
/***** PROJECT NAME : SMC Partners Portal 삼성병원파트너즈포털 ********/
/***** CREATION DATES : 2016.03					  ********/
/***** DRAFTER : TOBESOFT DESIGN TEAM				  ********/
/***** DISTRIBUTION DATE : 					  ********/
/***** 1st AMENDER : 						  ********/
/***** 1st MODIFICATION DATE : 					  ********/
/*************************************************************************/

/******************** 필요 Property속성만 사용 ***********************/
/********** (추가시 Common.css 속성 복사 후 작성권장)  **************/

/************************************************************************/
/*****************************  TopFrame  *******************************/
/************************************************************************/

/************************************ B ********************************/

/* Button */
/* Menu */
Button.btn_TF_MenuN, Button.btn_TF_MenuN:focused
{
	align			: left middle;
	background		: transparent;
	border			: 0 none;
	color			: #222222;
	font			: bold 10 Gulim;
	padding			: 1 0 0 0;
}
Button.btn_TF_MenuN:mouseover, Button.btn_TF_MenuN:pushed, Button.btn_TF_MenuN:selected
{
	align			: left middle;
	background		: transparent;
	border			: 0 none;
	color			: #2170e5;
	font			: bold 10 Gulim;
	padding			: 1 0 0 0;
}
Button.btn_TF_MenuN:disabled
{
	align			: left middle;
	background		: transparent;
	border			: 0 none;
	color			: #c8c8c8;
	font			: bold 10 Gulim;
	padding			: 1 0 0 0;
}
Button.btn_TF_MenuS, Button.btn_TF_MenuS:focused, Button.btn_TF_MenuS:disabled,
Button.btn_TF_MenuS:mouseover, Button.btn_TF_MenuS:pushed, Button.btn_TF_MenuS:selected
{
	align			: left middle;
	background		: transparent;
	border			: 0 none;
	color			: #2170e5;
	font			: bold 10 Gulim;
	padding			: 1 0 0 0;
}
/* Menu Pre/Next Button */
Button.btn_TF_MenuPre, Button.btn_TF_MenuPre:focused
{
	background		: URL('images::btn_TF_MenuPre.png') left top;
	border			: 0 none;
}
Button.btn_TF_MenuPre:mouseover, Button.btn_TF_MenuPre:pushed, Button.btn_TF_MenuPre:selected
{
	background		: URL('images::btn_TF_MenuPre_O.png') left top;
	border			: 0 none;
}
Button.btn_TF_MenuPre:disabled
{
	background		: URL('images::btn_TF_MenuPre.png') left top;
	border			: 0 none;
	opacity			: 20;
}
Button.btn_TF_MenuNxt, Button.btn_TF_MenuNxt:focused
{
	background		: URL('images::btn_TF_MenuNxt.png') left top;
	border			: 0 none;
}
Button.btn_TF_MenuNxt:mouseover, Button.btn_TF_MenuNxt:pushed, Button.btn_TF_MenuNxt:selected
{
	background		: URL('images::btn_TF_MenuNxt_O.png') left top;
	border			: 0 none;
}
Button.btn_TF_MenuNxt:disabled
{
	background		: URL('images::btn_TF_MenuNxt.png') left top;
	border			: 0 none;
	opacity			: 20;
}
/* Utill Button(Call/Password/Logout) */
Button.btn_TF_UtillCall, Button.btn_TF_UtillCall:focused
{
	background		: URL('images::btn_TF_UtillCall.png') cetner middle;
	border			: 0 none;
}
Button.btn_TF_UtillCall:mouseover
{
	background		: URL('images::btn_TF_UtillCall_O.png') cetner middle;
	border			: 0 none;
}
Button.btn_TF_UtillCall:pushed, Button.btn_TF_UtillCall:selected
{
	background		: URL('images::btn_TF_UtillCall_P.png') cetner middle;
	border			: 0 none;
}
Button.btn_TF_UtillCall:disabled
{
	background		: URL('images::btn_TF_UtillCall_D.png') cetner middle;
	border			: 0 none;
}
Button.btn_TF_UtillPW, Button.btn_TF_UtillPW:focused
{
	background		: URL('images::btn_TF_UtillPW.png') cetner middle;
	border			: 0 none;
}
Button.btn_TF_UtillPW:mouseover
{
	background		: URL('images::btn_TF_UtillPW_O.png') cetner middle;
	border			: 0 none;
}
Button.btn_TF_UtillPW:pushed, Button.btn_TF_UtillPW:selected
{
	background		: URL('images::btn_TF_UtillPW_P.png') cetner middle;
	border			: 0 none;
}
Button.btn_TF_UtillPW:disabled
{
	background		: URL('images::btn_TF_UtillPW_D.png') cetner middle;
	border			: 0 none;
}
Button.btn_TF_UtillBug, Button.btn_TF_UtillBug:focused
{
	background		: URL('images::btn_TF_UtillBug.png') cetner middle;
	border			: 0 none;
}
Button.btn_TF_UtillBug:mouseover
{
	background		: URL('images::btn_TF_UtillBug_O.png') cetner middle;
	border			: 0 none;
}
Button.btn_TF_UtillBug:pushed, Button.btn_TF_UtillBug:selected
{
	background		: URL('images::btn_TF_UtillBug_P.png') cetner middle;
	border			: 0 none;
}
Button.btn_TF_UtillBug:disabled
{
	background		: URL('images::btn_TF_UtillBug_D.png') cetner middle;
	border			: 0 none;
}

Button.btn_TF_UtillLogout, Button.btn_TF_UtillLogout:focused
{
	background		: URL('images::btn_TF_UtillLogout.png') cetner middle;
	border			: 0 none;
}
Button.btn_TF_UtillLogout:mouseover
{
	background		: URL('images::btn_TF_UtillLogout_O.png') cetner middle;
	border			: 0 none;
}
Button.btn_TF_UtillLogout:pushed, Button.btn_TF_UtillLogout:selected
{
	background		: URL('images::btn_TF_UtillLogout_P.png') cetner middle;
	border			: 0 none;
}
Button.btn_TF_UtillLogout:disabled
{
	background		: URL('images::btn_TF_UtillLogout_D.png') cetner middle;
	border			: 0 none;
}
/* System Change Button */
Button.btn_TF_ChangeChae, Button.btn_TF_ChangeChae:focused
{
	background		: URL('images::btn_TF_ChangeChae.png') cetner middle;
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_TF_ChangeChae:mouseover
{
	background		: URL('images::btn_TF_ChangeChae_O.png') cetner middle;
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_TF_ChangeChae:pushed, Button.btn_TF_ChangeChae:selected
{
	background		: URL('images::btn_TF_ChangeChae_P.png') cetner middle;
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_TF_ChangeChae:disabled
{
	background		: URL('images::btn_TF_ChangeChae_D.png') cetner middle;
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_TF_ChangeSin, Button.btn_TF_ChangeSin:focused
{
	background		: URL('images::btn_TF_ChangeSin.png') cetner middle;
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_TF_ChangeSin:mouseover
{
	background		: URL('images::btn_TF_ChangeSin_O.png') cetner middle;
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_TF_ChangeSin:pushed, Button.btn_TF_ChangeSin:selected
{
	background		: URL('images::btn_TF_ChangeSin_P.png') cetner middle;
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_TF_ChangeSin:disabled
{
	background		: URL('images::btn_TF_ChangeSin_D.png') cetner middle;
	border			: 0 none;
	bordertype		: normal;
}

/************************************ S ********************************/

/* Static */
/* Background */
Static.sta_TF_Bg, Static.sta_TF_Bg:mouseover, Static.sta_TF_Bg:disabled
{
	background		: #ffffff;
	border			: 0 none, 0 none, 1 solid #969696, 0 none;
}
/* Logo */
Static.sta_TF_LogoSin, Static.sta_TF_LogoSin:mouseover, Static.sta_TF_LogoSin:disabled
{
	background		: URl('images::sta_TF_LogoSin.png') left top;
}
Static.sta_TF_LogoChae, Static.sta_TF_LogoChae:mouseover, Static.sta_TF_LogoChae:disabled
{
	background		: URl('images::sta_TF_LogoChae.png') left top;
}
Static.sta_TF_LogoSin2, Static.sta_TF_LogoSin2:mouseover, Static.sta_TF_LogoSin2:disabled
{
	background		: URl('images::sta_TF_LogoSin2.png') left top;
}
Static.sta_TF_LogoChae2, Static.sta_TF_LogoChae2:mouseover, Static.sta_TF_LogoChae2:disabled
{
	background		: URl('images::sta_TF_LogoChae2.png') left top;
}
/* User */
Static.sta_TF_User, Static.sta_TF_User:mouseover, Static.sta_TF_User:disabled
{
	align			: right middle;
	color			: #48617f;
	padding			: 1 9 0 15;
}


/************************************************************************/
/*****************************  LeftFrame  *******************************/
/************************************************************************/

/************************************ B ********************************/

/* Button */
/* Search Button */
Button.btn_LF_SearchBtn, Button.btn_LF_SearchBtn:focused, Button.btn_LF_SearchBtn:mouseover
{
	background		: URL('images::btn_LF_SearchBtn.png') center middle;
	border			: 0 none;
}
Button.btn_LF_SearchBtn:pushed, Button.btn_LF_SearchBtn:selected
{
	background		: URL('images::btn_LF_SearchBtn_P.png') center middle;
	border			: 0 none;
}
Button.btn_LF_SearchBtn:disabled
{
	background		: URL('images::btn_LF_SearchBtn.png') center middle;
	border			: 0 none;
	opacity			: 20;
}
/* MyMenu 관련 */
Button.btn_LF_MyMenu, Button.btn_LF_MyMenu:focused
{
	background		: URL('images::btn_LF_MyMenu.png') center middle;
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_LF_MyMenu:mouseover
{
	background		: URL('images::btn_LF_MyMenu_O.png') center middle;
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_LF_MyMenu:pushed, Button.btn_LF_MyMenu:selected
{
	background		: URL('images::btn_LF_MyMenu_P.png') center middle;
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_LF_MyMenu:disabled
{
	background		: URL('images::btn_LF_MyMenu_D.png') center middle;
	border			: 0 none;
}
Button.btn_LF_MyMenuX, Button.btn_LF_MyMenuX:focused
{
	background		: URL('images::btn_LF_MyMenuX.png') center middle;
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_LF_MyMenuX:mouseover
{
	background		: URL('images::btn_LF_MyMenuX_O.png') center middle;
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_LF_MyMenuX:pushed, Button.btn_LF_MyMenuX:selected
{
	background		: URL('images::btn_LF_MyMenuX_P.png') center middle;
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_LF_MyMenuX:disabled
{
	background		: URL('images::btn_LF_MyMenuX_D.png') center middle;
	border			: 0 none;
	bordertype		: normal;
}

/************************************ C ********************************/
/* Combo */
Combo.cmb_LF_Site, Combo.cmb_LF_Site:focused, Combo.cmb_LF_Site:mouseover
{
	background		: #454f5d;
	border			: 1 solid #38424f;
	bordertype		: normal 0 0;
	buttonsize		: 25;
	color			: #aab4c0;
	itemheight		: 28;
}
Combo.cmb_LF_Site:selected
{
	background		: #454f5d;
	border			: 1 solid #38424f;
	bordertype		: normal 0 0;
	buttonsize		: 25;
	color			: #aab4c0;
	itemheight		: 28;
	itemcolor		: #ffffff;
}
Combo.cmb_LF_Site:disabled
{
	background		: #454f5d;
	border			: 1 solid #38424f;
	bordertype		: normal 0 0;
	buttonsize		: 25;
	color			: #aab4c0;
	opacity			: 30;
	itemheight		: 28;
	
}
Combo.cmb_LF_Site>#comboedit, Combo.cmb_LF_Site>#comboedit:focused, Combo.cmb_LF_Site>#comboedit:mouseover
{
	background		: #454f5d;
	color			: #aab4c0;
	padding			: 1 5 0 9;
}
Combo.cmb_LF_Site>#comboedit:disabled
{
	background		: #454f5d;
	color			: #aab4c0;
	padding			: 1 5 0 9;
	opacity			: 30;	
}
Combo.cmb_LF_Site>#dropbutton, Combo.cmb_LF_Site>#dropbutton:focused, 
Combo.cmb_LF_Site>#dropbutton:mouseover
{
	background		: transparent;
	border			: 0 none;
	image			: URL('images::cmb_LF_SiteDropBtn.png');
	imagealign		: center middle;
}
Combo.cmb_LF_Site>#dropbutton:pushed, Combo.cmb_LF_Site>#dropbutton:selected
{
	background		: transparent;
	border			: 0 none;
	image			: URL('images::cmb_LF_SiteDropBtn_P.png');
	imagealign		: center middle;
}
Combo.cmb_LF_Site>#dropbutton:disabled
{
	background		: transparent;
	border			: 0 none;
	image			: URL('images::cmb_LF_SiteDropBtn.png');
	imagealign		: center middle;
	opacity			: 30;
}
Combo.cmb_LF_Site>#combolist, Combo.cmb_LF_Site>#combolist:focused
{
	background		: #454f5d;
	border			: 1 solid #38424f;
	color			: #aab4c0;
	itembackground		: #454f5d;
	itemcolor		: #aab4c0;
	itemfont		: antialias 11 NanumGothic;
	itempadding		: 1 9 0 9;
}
Combo.cmb_LF_Site>#combolist:mouseover
{
	background		: #454f5d;
	border			: 1 solid #38424f;
	color			: #aab4c0;
	itembackground		: #5f6d7e;
	itemcolor		: #aab4c0;
	itemfont		: antialias 11 NanumGothic;
	itemheight		: 28;
	itempadding		: 1 9 0 9;
}
Combo.cmb_LF_Site>#combolist:selected
{
	background		: #454f5d;
	border			: 1 solid #38424f;
	color			: #aab4c0;
	itembackground		: #2170e5;
	itemcolor		: #ffffff;
	itemfont		: antialias 11 NanumGothic;
	itemheight		: 28;
	itempadding		: 1 9 0 9;
}
Combo.cmb_LF_Site>#combolist:disabled
{
	background		: #454f5d;
	border			: 1 solid #38424f;
	color			: #aab4c0;
	shadow			: 30;
	itembackground		: #454f5d;
	itemcolor		: #aab4c0;
	itemfont		: antialias 11 NanumGothic;
	itemheight		: 28;
	itempadding		: 1 9 0 9;
}

/************************************ G ******************************/

/* Grid */
/* Menu */
Grid.grd_LF_Menu
{
	background		: #5f6d7e;
	border			: 0 none, 1 solid #353d48, 1 solid #4e5b6b, 0 none;
	bordertype		: normal 0 0;
	color			: #ffffff;
	treeclosebuttonimage	: URL('images::grd_LF_MenuClose.png');
	treeitemimage		: URL('images::grd_LF_MenuItem.png');
	treeopenbuttonimage	: URL('images::grd_LF_MenuOpen.png');
}
Grid.grd_LF_Menu>#body, Grid.grd_LF_Menu>#body:mouseover
{
	background		: #5f6d7e;
	cellalign		: left middle;
	cellbackground		: #39424d;
	cellbackground2		: #39424d;
	cellcolor		: #b0bac7;
	cellcolor2		: #b0bac7;
	cellfont		: antialias 11 NanumGothic;
	cellline		: 0 none;
	cellpadding		: 0 0 0 10;
	selectbackground	: #2170e5;
	selectcolor		: #ffffff;
	selectfont		: antialias 11 NanumGothic;
	selectline		: 0 none;
}
Grid.grd_LF_Menu>#body:disabled
{
	background		: transparent;
	cellalign		: left middle;
	cellbackground		: #39424d;
	cellbackground2		: #39424d;
	cellcolor		: #5f6c7c;
	cellcolor2		: #5f6c7c;
	cellfont		: antialias 11 NanumGothic;
	cellline		: 0 none;
	cellpadding		: 0 0 0 10;
	selectbackground	: #2170e5;
	selectcolor		: #5f6c7c;
	selectfont		: bold antialias 11 NanumGothic;
	selectline		: 0 none;
}
Grid.grd_LF_Menu>#vscrollbar, Grid.grd_LF_Menu>#vscrollbar:disabled, 
Grid.grd_LF_Menu>#vscrollbar:selected, Grid.grd_LF_Menu>#vscrollbar:mouseover, 
Grid.grd_LF_Menu>#vscrollbar:pushed, Grid.grd_LF_Menu>#vscrollbar:focused
{
	background		: #2c333b;
	border			: 0 none;
	bordertype		: normal 0 0;
	scrollbarsize		: 11;
	incbtnsize		: 10;
	decbtnsize		: 10;
	trackbarsize		: 50;
	padding			: 0;
}
Grid.grd_LF_Menu>#vscrollbar>#incbutton, Grid.grd_LF_Menu>#vscrollbar>#incbutton:focused, 
Grid.grd_LF_Menu>#vscrollbar>#incbutton:mouseover, Grid.grd_LF_Menu>#vscrollbar>#incbutton:pushed, 
Grid.grd_LF_Menu>#vscrollbar>#incbutton:selected, Grid.grd_LF_Menu>#vscrollbar>#incbutton:disabled
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: URL('images::grd_WF_MainNoticeScrolNon.png');
}
Grid.grd_LF_Menu>#vscrollbar>#decbutton, Grid.grd_LF_Menu>#vscrollbar>#decbutton:focused, 
Grid.grd_LF_Menu>#vscrollbar>#decbutton:mouseover, Grid.grd_LF_Menu>#vscrollbar>#decbutton:pushed, 
Grid.grd_LF_Menu>#vscrollbar>#decbutton:selected, Grid.grd_LF_Menu>#vscrollbar>#decbutton:disabled
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: URL('images::grd_WF_MainNoticeScrolNon.png');
}
Grid.grd_LF_Menu>#vscrollbar>#trackbar, Grid.grd_LF_Menu>#vscrollbar>#trackbar:disabled, 
Grid.grd_LF_Menu>#vscrollbar>#trackbar:selected, Grid.grd_LF_Menu>#vscrollbar>#trackbar:focused
{
	background		: transparent URL('images::grd_LF_MenuScol.png') center middle;
	border			: 0 none;
	bordertype		: normal;
	focusborder		: 0 none;
}
Grid.grd_LF_Menu>#vscrollbar>#trackbar:mouseover, Grid.grd_LF_Menu>#vscrollbar>#trackbar:pushed
{
	background		: transparent URL('images::grd_LF_MenuScol_O.png') center middle;
	border			: 0 none;
	bordertype		: normal;
	focusborder		: 0 none;
	
}
/* MyMenu */
Grid.grd_LF_MyMenu
{
	background		: #39424d;
	border			: 0 none, 1 solid #353d48, 1 solid #4e5b6b, 0 none;
	bordertype		: normal 0 0;
	color			: #ffffff;
}
Grid.grd_LF_MyMenu>#body, Grid.grd_LF_MyMenu>#body:mouseover
{
	background		: #39424d;
	cellalign		: left middle;
	cellbackground		: #39424d;
	cellbackground2		: #39424d;
	cellcolor		: #b0bac7;
	cellcolor2		: #b0bac7;
	cellfont		: antialias 11 NanumGothic;
	cellline		: 0 none;
	cellpadding		: 0 0 0 0;
	selectbackground	: #2170e5;
	selectcolor		: #ffffff;
	selectfont		: antialias 11 NanumGothic;
	selectline		: 0 none;
}
Grid.grd_LF_MyMenu>#body:disabled
{
	background		: transparent;
	cellalign		: left middle;
	cellbackground		: #39424d;
	cellbackground2		: #39424d;
	cellcolor		: #5f6c7c;
	cellcolor2		: #5f6c7c;
	cellfont		: antialias 11 NanumGothic;
	cellline		: 0 none;
	cellpadding		: 0 0 0 0;
	selectbackground	: #2170e5;
	selectcolor		: #5f6c7c;
	selectfont		: bold antialias 11 NanumGothic;
	selectline		: 0 none;
}

/************************************ E ********************************/

/* Edit */
Edit.edt_LF_Search, Edit.edt_LF_Search:focused, Edit.edt_LF_Search:mouseover
{
	background		: #00adff;
	border			: 0 none, 0 none, 0 none,1 solid #009ae3;
	color			: #cff0ff;
	padding			: 1 45 0 9;
}
Edit.edt_LF_Search:disabled
{
	background		: #00adff;
	border			: 0 none, 0 none, 0 none,1 solid #009ae3;
	color			: #29baff;
	padding			: 1 45 0 9;
}

/************************************ S ********************************/

/* Static */
/* Title */
Static.sta_LF_Title, Static.sta_LF_Title:mouseover, Static.sta_LF_Title:disabled
{
	align			: left middle;
	background		: URL('images::sta_LF_Title.png') left top;
	border			: 0 none;
	font			: bold 10 Gulim;
	color			: #ffffff;
	padding			: 1 9 0 9;
}
/* Site Backgroud */
Static.sta_LF_SiteBg, Static.sta_LF_SiteBg:mouseover, Static.sta_LF_SiteBg:disabled
{
	background		: #5f6d7e;
	border			: 1 solid #707d8d, 0 none, 0 none, 0 none;
}
/* Menu Backgroud */
Static.sta_LF_Bg, Static.sta_LF_Bg:mouseover, Static.sta_LF_Bg:disabled
{
	background		: #5f6d7e;
}


/************************************************************************/
/*****************************  MDIFrame  *******************************/
/************************************************************************/

/************************************ B ********************************/

/* Button */
/* Home Button/ List Button */
Button.btn_MDI_Home, Button.btn_MDI_Home:focused
{
	background		: URL('images::btn_MDI_Home.png') center middle;
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_MDI_Home:mouseover
{
	background		: URL('images::btn_MDI_Home_O.png') center middle;
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_MDI_Home:pushed, Button.btn_MDI_Home:selected
{
	background		: URL('images::btn_MDI_Home_P.png') center middle;
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_MDI_Home:disabled
{
	background		: URL('images::btn_MDI_Home.png') center middle;
	border			: 0 none;
	bordertype		: normal;
	opacity			: 20;
}
Button.btn_MDI_HomeS, Button.btn_MDI_HomeS:focused, Button.btn_MDI_HomeS:mouseover, 
Button.btn_MDI_HomeS:pushed, Button.btn_MDI_HomeS:selected, Button.btn_MDI_HomeS:disabled
{
	background		: URL('images::btn_MDI_Home_P.png') center middle;
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_MDI_List, Button.btn_MDI_List:focused
{
	background		: URL('images::btn_MDI_List.png') center middle;
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_MDI_List:mouseover
{
	background		: URL('images::btn_MDI_List_O.png') center middle;
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_MDI_List:pushed, Button.btn_MDI_List:selected
{
	background		: URL('images::btn_MDI_List_P.png') center middle;
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_MDI_List:disabled
{
	background		: URL('images::btn_MDI_List.png') center middle;
	border			: 0 none;
	bordertype		: normal;
	opacity			: 20;
}
/* MDI Tab Up/Down Button */
/* 
Button.btn_MDI_TabPre, Button.btn_MDI_TabPre:focused
{
	background		: URL('images::tab_MDI_TabPre.png') center middle;
	border			: 0 none;
}
Button.btn_MDI_TabPre:mouseover
{
	background		: URL('images::tab_MDI_TabPre_O.png') center middle;
	border			: 0 none;
}
Button.btn_MDI_TabPre:pushed, Button.btn_MDI_TabPre:selected
{
	background		: URL('images::tab_MDI_TabPre_P.png') center middle;
	border			: 0 none;
}
Button.btn_MDI_TabPre:disabled
{
	background		: URL('images::tab_MDI_TabPre.png') center middle;
	border			: 0 none;
	opacity			: 20;
}
Button.btn_MDI_TabNxt, Button.btn_MDI_TabNxt:focused
{
	background		: URL('images::tab_MDI_TabNxt.png') center middle;
	border			: 0 none;
}
Button.btn_MDI_TabNxt:mouseover
{
	background		: URL('images::tab_MDI_TabNxt_O.png') center middle;
	border			: 0 none;
}
Button.btn_MDI_TabNxt:pushed, Button.btn_MDI_TabNxt:selected
{
	background		: URL('images::tab_MDI_TabNxt_P.png') center middle;
	border			: 0 none;
}
Button.btn_MDI_TabNxt:disabled
{
	background		: URL('images::tab_MDI_TabNxt.png') center middle;
	border			: 0 none;
	opacity			: 20;
}*/
/* MDI Tab Control Button */
Button.btn_MDI_TabCascade, Button.btn_MDI_TabCascade:focused
{
	background		: URL('images::tab_MDI_TabCascade.png') center middle;
	border			: 0 none;
}
Button.btn_MDI_TabCascade:mouseover
{
	background		: URL('images::tab_MDI_TabCascade_O.png') center middle;
	border			: 0 none;
}
Button.btn_MDI_TabCascade:pushed, Button.btn_MDI_TabCascade:selected
{
	background		: URL('images::tab_MDI_TabCascade_P.png') center middle;
	border			: 0 none;
}
Button.btn_MDI_TabCascade:disabled
{
	background		: URL('images::tab_MDI_TabCascade.png') center middle;
	border			: 0 none;
	opacity			: 20;
}
Button.btn_MDI_TabPop, Button.btn_MDI_TabPop:focused
{
	background		: URL('images::tab_MDI_TabPop.png') center middle;
	border			: 0 none;
}
Button.btn_MDI_TabPop:mouseover
{
	background		: URL('images::tab_MDI_TabPop_O.png') center middle;
	border			: 0 none;
}
Button.btn_MDI_TabPop:pushed, Button.btn_MDI_TabPop:selected
{
	background		: URL('images::tab_MDI_TabPop_P.png') center middle;
	border			: 0 none;
}
Button.btn_MDI_TabPop:disabled
{
	background		: URL('images::tab_MDI_TabPop.png') center middle;
	border			: 0 none;
	opacity			: 20;
}
Button.btn_MDI_TabMax, Button.btn_MDI_TabMax:focused
{
	background		: URL('images::tab_MDI_TabMax.png') center middle;
	border			: 0 none;
}
Button.btn_MDI_TabMax:mouseover
{
	background		: URL('images::tab_MDI_TabMax_O.png') center middle;
	border			: 0 none;
}
Button.btn_MDI_TabMax:pushed, Button.btn_MDI_TabMax:selected
{
	background		: URL('images::tab_MDI_TabMax_P.png') center middle;
	border			: 0 none;
}
Button.btn_MDI_TabMax:disabled
{
	background		: URL('images::tab_MDI_TabMax.png') center middle;
	border			: 0 none;
	opacity			: 20;
}
Button.btn_MDI_AllClose, Button.btn_MDI_AllClose:focused
{
	background		: URL('images::tab_MDI_AllClose.png') center middle;
	border			: 0 none;
}
Button.btn_MDI_AllClose:mouseover
{
	background		: URL('images::tab_MDI_AllClose_O.png') center middle;
	border			: 0 none;
}
Button.btn_MDI_AllClose:pushed, Button.btn_MDI_AllClose:selected
{
	background		: URL('images::tab_MDI_AllClose_P.png') center middle;
	border			: 0 none;
}
Button.btn_MDI_AllClose:disabled
{
	background		: URL('images::tab_MDI_AllClose.png') center middle;
	border			: 0 none;
	opacity			: 20;
}

/************************************ G ********************************/
/* Grid */
/* PopupDiv 안 List Grid */
Grid.grd_MDI_List
{
	align			: left middle;
	background		: transparent;
	border			: 0 none;
	color			: #444444;
}
Grid.grd_MDI_List>#body, Grid.grd_MDI_List>#body:disabled
{
	background		: transparent;
	cellalign		: left middle;
	cellbackground		: transparent;
	cellbackground2		: transparent;
	cellcolor		: #444444;
	cellcolor2		: #444444;
	cellfont		: antialias 11 NanumGothic;
	cellline		: 0 none;
	cellpadding		: 0 0 0 0;
	selectbackground	: #transparent;
	selectcolor		: #444444;
	selectfont		: underline bold antialias 11 NanumGothic;
	selectline		: 0 none;
}
Grid.grd_MDI_List>#body:mouseover
{
	background		: transparent;
	cellalign		: left middle;
	cellbackground		: transparent;
	cellbackground2		: transparent;
	cellcolor		: #444444;
	cellcolor2		: #444444;
	cellfont		: underline bold antialias 11 NanumGothic;
	cellline		: 0 none;
	cellpadding		: 0 0 0 0;
	selectbackground	: #transparent;
	selectcolor		: #444444;
	selectfont		: underline bold antialias 11 NanumGothic;
	selectline		: 0 none;
}


/************************************ S ********************************/

/* Static */
/************************************ S ********************************/
Static.sta_MDI_Bg, Static.sta_MDI_Bg:mouseover, Static.sta_MDI_Bg:disabled
{
	background		: #e9e9e9;
	border			: 0 none, 0 none, 1 solid #c5c5c5, 0 none;
}

/************************************ S ********************************/
/* Tab */
/* MDI Tab */
Tab.tab_MDI_Tab, Tab.tab_MDI_Tab:focused, Tab.tab_MDI_Tab:mouseover
{
	background		: transparent;
	border			: 0 none;
	buttonbackground	: URL('images::tab_MDI_TabBtn.png') stretch 2,2;
	buttonborder		: 0 none;
	buttonpadding		: 10 10 10 16;
	buttonmargin		: 0 -1 0 0;
	color			: #848484;
}
Tab.tab_MDI_Tab:pushed, Tab.tab_MDI_Tab:selected
{
	background		: transparent;
	border			: 0 none;
	buttonbackground	: URL('images::tab_MDI_TabBtnS.png') stretch 2,2;
	buttonborder		: 0 none;
	buttonpadding		: 10 10 10 16;
	buttonmargin		: 0 -1 0 0;
	color			: #222222;
	font			: antialias 11 NanumGothic;
}
Tab.tab_MDI_Tab:disabled
{
	background		: transparent;
	border			: 0 none;
	buttonbackground	: URL('images::tab_MDI_TabBtn.png') stretch 2,2;
	buttonborder		: 0 none;
	buttonpadding		: 10 10 10 16;
	buttonmargin		: 0 -1 0 0;
	color			: #c8c8c8;
}
Tab.tab_MDI_Tab>#spinupbutton, Tab.tab_MDI_Tab>#spinupbutton:focused
{
	accessibility		: ;
	align			: ;
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	color			: ;
	cursor			: ;
	font			: ;
	gradation		: ;
	image			: URL('images::tab_MDI_TabPre.png');
	imagealign		: ;
	opacity			: ;
	padding			: ;
	shadow			: ;
}
Tab.tab_MDI_Tab>#spinupbutton:mouseover
{
	accessibility		: ;
	align			: ;
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	color			: ;
	cursor			: ;
	font			: ;
	gradation		: ;
	image			: URL('images::tab_MDI_TabPre_O.png');
	imagealign		: ;
	opacity			: ;
	padding			: ;
	shadow			: ;
}
Tab.tab_MDI_Tab>#spinupbutton:pushed
{
	accessibility		: ;
	align			: ;
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	color			: ;
	cursor			: ;
	font			: ;
	gradation		: ;
	image			: URL('images::tab_MDI_TabPre_P.png');
	imagealign		: ;
	opacity			: ;
	padding			: ;
	shadow			: ;
}
Tab.tab_MDI_Tab>#spinupbutton:selected
{
	accessibility		: ;
	align			: ;
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	color			: ;
	cursor			: ;
	font			: ;
	gradation		: ;
	image			: URL('images::tab_MDI_TabPre_O.png');
	imagealign		: ;
	opacity			: ;
	padding			: ;
	shadow			: ;
}
Tab.tab_MDI_Tab>#spinupbutton:disabled
{
	accessibility		: ;
	align			: ;
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	color			: ;
	cursor			: ;
	font			: ;
	gradation		: ;
	image			: URL('images::tab_MDI_TabPre.png');
	imagealign		: ;
	opacity			: 50%;
	padding			: ;
	shadow			: ;
}
Tab.tab_MDI_Tab>#spindownbutton, Tab.tab_MDI_Tab>#spindownbutton:focused
{
	accessibility		: ;
	align			: ;
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	color			: ;
	cursor			: ;
	font			: ;
	gradation		: ;
	image			: URL('images::tab_MDI_TabNxt.png');
	imagealign		: ;
	opacity			: ;
	padding			: ;
	shadow			: ;
}
Tab.tab_MDI_Tab>#spindownbutton:mouseover
{
	accessibility		: ;
	align			: ;
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	color			: ;
	cursor			: ;
	font			: ;
	gradation		: ;
	image			: URL('images::tab_MDI_TabNxt_O.png');
	imagealign		: ;
	opacity			: ;
	padding			: ;
	shadow			: ;
}
Tab.tab_MDI_Tab>#spindownbutton:pushed
{
	accessibility		: ;
	align			: ;
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	color			: ;
	cursor			: ;
	font			: ;
	gradation		: ;
	image			: URL('images::tab_MDI_TabNxt_P.png');
	imagealign		: ;
	opacity			: ;
	padding			: ;
	shadow			: ;
}
Tab.tab_MDI_Tab>#spindownbutton:selected
{
	accessibility		: ;
	align			: ;
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	color			: ;
	cursor			: ;
	font			: ;
	gradation		: ;
	image			: URL('images::tab_MDI_TabNxt_O.png');
	imagealign		: ;
	opacity			: ;
	padding			: ;
	shadow			: ;
}
Tab.tab_MDI_Tab>#spindownbutton:disabled
{
	accessibility		: ;
	align			: ;
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	color			: ;
	cursor			: ;
	font			: ;
	gradation		: ;
	image			: URL('images::tab_MDI_TabNxt.png');
	imagealign		: ;
	opacity			: 50%;
	padding			: ;
	shadow			: ;
}
Tab.tab_MDI_Tab#extrabutton, Tab.tab_MDI_Tab>#extrabutton:focused, Tab.tab_MDI_Tab>#extrabutton:mouseover, 
Tab.tab_MDI_Tab>#extrabutton:pushed, Tab.tab_MDI_Tab>#extrabutton:disabled
{
	image			: URL('images::tab_MDI_Extra.png');
}