.tundra .dijitCalendarYearLabel {
 /* container for all of 3 year labels */
 margin:0;
 padding:0.4em 0 0.25em 0;
 text-align:center;
 font-size:13px;
}

.tundra .dijitCalendarSelectedYear {
 /* label for selected year */
 color:black;
 padding:0.2em;
 padding-bottom:0em;
 background-color:#bbc4d0 !important;
}

.tundra .dijitCalendarNextYear,
.tundra .dijitCalendarPreviousYear {
 /* label for next/prev years */
 color:black !important;
 font-weight:normal;
}

/* input box */
.tundra .dijitTextBox,
.tundra .dijitComboBox,
.tundra .dijitSpinner {
 border:1px solid #D9D5D2; 
 #overflow: hidden; /* #6027, #6067 */
 width: 160px; /* need to set default size on outer node since inner nodes say <input style="width:100%"> and <td width=100%>.  user can override */
 padding-top: 3px; 
 padding-bottom: -3px;
 vertical-align: bottom;
 #vertical-align: auto;  
}

.tundra .dijitTextBox INPUT,
.tundra .dijitComboBox INPUT,
.tundra .dijitSpinner INPUT {
	position:static !important;
	border:0 !important; 
	margin:0 !important;
	vertical-align:bottom !important;
	visibility:visible !important;
	background-color:transparent !important;
	background-image:none !important;
	width:100% !important;  
	font-size:9pt; 
	color:#777777; 
	height: 17px;
	font-family:"verdana", "돋움";
}

.tundra .dijitCalendarIncrementControl {
	/* next/prev month buttons */
	font-size: 6pt;
}