<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
 
    <session-factory>
        <!--hibernate jdbc configuration here-->
        <!--hibernate jdbc configuration-START-->
        <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>        
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.username">sppdev</property>
        <property name="hibernate.connection.password">Smc4011</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@203.249.223.89:3410:SPPDEV</property>
        <!--hibernate jdbc configuration-END-->        
        <property name="hibernate.connection.autocommit">true</property>        
        <property name="hibernate.connection.shutdown">true</property>          
		<!--Add new mapping class name here-->		
    </session-factory>
   
</hibernate-configuration>