<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p] %d{yyyy-MM-dd HH:mm:ss} %c %n%m%n" />
        </layout>   
    </appender>

	<logger name="org.anyframe.archetype" additivity="false">	
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>   
    
    <!--log SQL and replace SQL with the given pattern for preventing SQL Injection with jdbc-support plugin -->
	<logger name="org.anyframe.jdbc.support.CompleteQueryPostProcessor" additivity="false">
		<level value="INFO" />
		<appender-ref ref="console" />
	</logger>

	<logger name="org.anyframe.jdbc.support.InjectionPatternPostProcessor" additivity="false">
		<level value="WARN" />
		<appender-ref ref="console" />
	</logger>
   
    <!--log SQL (pre-execution) plus exceptions caused by SQL with logging-sql plugin,
        it recommends to use jdbc-support plugin instead of logging-sql plugin for SQL logging. -->
  	<logger name="jdbc.sqlonly" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</logger>
	
	<!--log SQL with timing information, post execution, all jdbc calls except ResultSet calls, jdbc ResultSet calls  with logging-sql plugin -->
	<logger name="jdbc" additivity="false">
		<level value="OFF" />
		<appender-ref ref="console" />
	</logger>

    <!--CXF IN/OUT Bound Message-->
	<logger name="org.apache.cxf.interceptor.LoggingInInterceptor" additivity="false">	
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>  
    
	<logger name="org.apache.cxf.interceptor.LoggingOutInterceptor" additivity="false">	
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>
    
    <!--SimpleWeb BeanMethod Message-->
	<logger name="org.anyframe.simpleweb.beans.support" additivity="false">	
        <level value="WARN"/>
        <appender-ref ref="console"/>
    </logger>   
        
    <root>
    	<level value="ERROR"/>
    	<appender-ref ref="console"/>
    </root>
</log4j:configuration>
