body { margin-top:0; margin-left:2; margin-right:0; margin-bottom:0}
td { font-size: 9pt; color: #58595B; font-style: normal; font-weight: normal; font-family:"돋움", "돋움"}

.hp_search   {font-family:"돋움", "돋움"; font-size:9pt; border:1x solid #808080; color:#555555; background-color:#CEE6F4; padding-top:2px}
.hp_input    {font-family:"돋움", "돋움"; font-size:9pt; border:1x solid #736D6D; color:#565656; background-color:#ffffff; padding-top:2px}
.hp_input_bk {font-family:"돋움", "돋움"; font-size:9pt; border:1x solid #666666; color:#000000; background-color:#ffffff; padding-top:2px}

.ct_center_margin   {padding:27px 35px 50px 5px;}
.ct_board           {padding:12px 20px 12px 18px}

.ad_top_line01 {width:1px; background-color:#D8D8D8}

.aba_box    {border:1x solid #CECBCE}
.ad_login01 {font-family:"돋움"; font-size:9pt; border-left:1px solid #A5C7F7; /*border-top:2px solid #969696;*/ border-right:1px solid #A5C7F7; border-bottom:1px solid #A5C7F7; 
            color:#000000; background-color:#FFFFFF; padding-top:2px}
.ct_box    {font-family:"돋움"; font-size:9pt; border-left:1px solid #CECFCE;  border-right:1px solid #CECFCE; border-bottom:1px solid #CECFCE; 
            color:#000000; background-color:#FFFFFF;}            
            
.ct_name     {font-size: 10.5pt; COLOR: #104A93; font-weight:bold; text-decoration: none; font-family: "돋움", "돋움"; letter-spacing:-1;}
.ct_ttl      {font-size: 9pt; COLOR: #104A93; font-weight:bold; text-decoration: none; font-family: "돋움", "돋움"; letter-spacing:-1;}
.ct_village  {font-size: 9pt; COLOR: #427DC6; font-weight:bold; text-decoration: none; font-family: "돋움", "돋움"; letter-spacing:-1;}
.ct_date     {font-size: 9pt; COLOR: #295D8C; text-decoration: none; font-family: "돋움", "돋움";}
.ct_ttl01     {font-size: 9pt; COLOR: #004D73; text-decoration: none; font-family: "돋움", "돋움"; font-weight:bold; padding-top:3px;}
.ct_ttl02     {font-size: 9pt; COLOR: #004D73; text-decoration: none; font-family: "돋움", "돋움";}
.ct_ttl03     {font-size: 9pt; COLOR: #002C41; text-decoration: none; font-family: "돋움", "돋움"; font-weight:bold; padding-top:3px;} 

.ct_line   {height:1px; background-color:#A8BAD4}
.ct_line01 {height:1px; background-color:#E9F6FF}

.ct_list           {font-size: 9pt; color: #343434; font-family:"돋움", "돋움"; padding-top:5px; height:23px}
.ct_list A:link    {font-size: 9pt; color: #343434; text-decoration: none; font-family:"돋움", "돋움"}
.ct_list A:visited {font-size: 9pt; color: #343434; text-decoration: none; font-family:"돋움", "돋움"}
.ct_list A:active  {font-size: 9pt; color: #343434; text-decoration: none; font-family:"돋움", "돋움"}
.ct_list A:hover   {font-size: 9pt; color: #000000; text-decoration: none; font-family:"돋움", "돋움";}

.ct_list01           {font-size: 9pt; color: #525152; font-family:"돋움", "돋움"; padding-top:5px; height:23px}
.ct_list01 A:link    {font-size: 9pt; color: #525152; text-decoration: none; font-family:"돋움", "돋움"}
.ct_list01 A:visited {font-size: 9pt; color: #525152; text-decoration: none; font-family:"돋움", "돋움"}
.ct_list01 A:active  {font-size: 9pt; color: #525152; text-decoration: none; font-family:"돋움", "돋움"}
.ct_list01 A:hover   {font-size: 9pt; color: #000000; text-decoration: none; font-family:"돋움", "돋움";}

.ct_input      {font-size:9pt; border:1x solid #468720; color:#777777; background-color:#ffffff; font-family:"돋움", "돋움"; padding-top:2px}
.ct_input_g    {font-size:9pt; border:1x solid #ADAEAD; color:#777777; background-color:#ffffff; font-family:"돋움", "돋움"; padding-top:2px}
.ct_input_bg    {font-size:9pt; border:1x solid #ADAEAD; color:#777777; background-color:#dddddd; font-family:"돋움", "돋움"; padding-top:2px}

select {border:1x solid #ADAEAD; color:#777777; background-color:#ffffff; font-family:돋움; font-size:12px; color:#5D5D5D; line-height:1.3;}

.ct_td             {background-color:#F5F5F5; height:26px;}
.ct_write          {font-size: 9pt; color: #181818; font-family:"돋움", "돋움"; padding:3px 0px 0px 10px; background-color:#F5F5F5; height:26px;}
.ct_write01        {font-size: 9pt; color: #565656; font-family:"돋움", "돋움"; padding:3px 0px 3px 4px;}

.ct_line02 {width:1px; background-color:#ffffff}

.ct_list_b {font-size: 9pt; color: #000000; text-decoration: none; font-family:"돋움", "돋움"; height:30px; background-color:#E3E3E3; text-align:center;}


.ct_list_pop          {font-size: 9pt; color: #666666; font-family:"돋움", "돋움"; padding-top:2px; height:30px;}
.ct_list_pop A:link    {font-size: 9pt; color: #666666; text-decoration: underline; font-family:"돋움", "돋움"}
.ct_list_pop A:visited {font-size: 9pt; color: #666666; text-decoration: underline; font-family:"돋움", "돋움"}
.ct_list_pop A:active  {font-size: 9pt; color: #666666; text-decoration: underline; font-family:"돋움", "돋움"}
.ct_list_pop A:hover   {font-size: 9pt; color: #000000; text-decoration: underline; font-family:"돋움", "돋움"}


.ct_list_no          {font-size: 9pt; color: #666666; font-family:"돋움", "돋움";}
.ct_list_no A:link    {font-size: 9pt; color: #666666; text-decoration: none; font-family:"돋움", "돋움"}
.ct_list_no A:visited {font-size: 9pt; color: #666666; text-decoration: none; font-family:"돋움", "돋움"}
.ct_list_no A:active  {font-size: 9pt; color: #666666; text-decoration: none; font-family:"돋움", "돋움"}
.ct_list_no A:hover   {font-size: 9pt; color: #808285; text-decoration: none; font-family:"돋움", "돋움"}


.ct_btn               {font-size: 9pt; color: #000000; font-family:"돋움", "돋움";}
.ct_btn A:link    {font-size: 9pt; color: #000000; text-decoration: none; font-family:"돋움", "돋움"}
.ct_btn A:visited {font-size: 9pt; color: #000000; text-decoration: none; font-family:"돋움", "돋움"}
.ct_btn A:active  {font-size: 9pt; color: #000000; text-decoration: none; font-family:"돋움", "돋움"}
.ct_btn A:hover   {font-size: 9pt; color: #000000; text-decoration: none; font-family:"돋움", "돋움"}

.ct_btn01               {font-size: 9pt; color: #666666; font-family:"돋움", "돋움";}
.ct_btn01 A:link    {font-size: 9pt; color: #666666; text-decoration: none; font-family:"돋움", "돋움"}
.ct_btn01 A:visited {font-size: 9pt; color: #666666; text-decoration: none; font-family:"돋움", "돋움"}
.ct_btn01 A:active  {font-size: 9pt; color: #666666; text-decoration: none; font-family:"돋움", "돋움"}
.ct_btn01 A:hover   {font-size: 9pt; color: #666666; text-decoration: none; font-family:"돋움", "돋움"}

/* 페이징 */
.page           {font-size: 10px; color: #3D3D3D; text-decoration: none; font-family: "Verdana"; padding-bottom:3px}
.page A:link    {font-size: 10px; color: #3D3D3D; text-decoration: none; font-family: "Verdana"}
.page A:visited {font-size: 10px; color: #3D3D3D; text-decoration: none; font-family: "Verdana"}
.page A:active  {font-size: 10px; color: #3D3D3D; text-decoration: none; font-family: "Verdana"}
.page A:hover   {font-size: 10px; color: #000000; text-decoration: underline; font-family: "Verdana"}

.page_s         {font-size: 10px; color: #000000; text-decoration: underline; font-weight:bold; font-family: "Verdana"}

/* test */
/* A CSS Framework by Mike Stenhouse of Content with Style

     Color pallete:
             #444        - dark gray (text)
             #3e9ade - medium blue (title)
             #b4c24b - lime (header 1)
             #ebf5fc - light cyan (hover text, footer)
             #d7e9f5    - medium cyan (tab)
             #1465b7 - dark blue (tab text, hyperlink)
             #ccc         - medium gray (line)
             #f7f7f7 - light gray (form background)
             #f90        - orange (required *)
*/

/* TYPOGRAPHY */
    body {
        text-align: left;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 76%;
        /*line-height: 1em;*/

    }

    div {
        font-size: 1em;
    }

    img {
        border: 0;
    }

    /* LINKS */
        a,a:link
            a:active {
            color: #000000;
            text-decoration: none;
        }

        a:visited {
            color: #000000;
            background-color: transparent;
        }

        a:hover {
            /*color: #444;*/
            text-decoration: none;
        }
    /* END LINKS */

    /* HEADINGS */
        h1, h2, h3, h4, h5, h6 {
            font-family: tahoma, arial, helvetica, sans-serif;
            font-weight: normal;
        }

        h1 {
            /*font-size: 2.2em;*/
            letter-spacing: -1px;
            line-height: 1.3em;

            margin: 0 0 0.5em 0;
            padding: 0;
            /*color: #b4c24b;*/
        }

        div#branding h1 {
            font-size: 9pt;
            letter-spacing: -1px;
            margin: 0;
            /*line-height: 1.5em;*/
            color: #000000;
			text-decoration: none; font-family:"돋움", "돋움"; height:30px; text-align:left;            
        }
        
        div#branding p {
            margin: 0;
            line-height: 1em;
        }

        h2 {
            font-size: 1.4em;
            line-height: 1.5em;
            margin: 0 0 0.5em 0;
            padding: 0;
        }

        h3 {
            font-size: 1.3em;
            line-height: 1.3em;
            margin: 0 0 0.5em 0;
            padding: 0;
            color: black;
        }

        h4 {
            font-size: 1.2em;
            line-height: 1.3em;
            margin: 0 0 0.25em 0;
            padding: 0;
            color: black;
        }

        h5 {
            font-size: 1.1em;
            line-height: 1.3em;
            margin: 0 0 0.25em 0;
            padding: 0;
            color: black;
        }

        h6 {
            font-size: 1em;
            line-height: 1.3em;
            margin: 0 0 0.25em 0;
            padding: 0;
            color: black;
        }
    /* END HEADINGS */

    /* TEXT */
        p {
            font-size: 1em;
            margin: 0 0 1.5em 0;
            padding: 0;
            line-height: 1.4em;
        }

        blockquote {
            border-left: 10px solid #ddd;
            margin-left: 10px;
        }

        pre {
            font-family: monospace;
            font-size: 12px;
        }

        strong,b {
            font-weight: bold;
        }

        em,i {
            font-style: italic;
        }

        code {
            font-family: "courier new", courier, monospace;
            font-size: 12px;
            white-space: pre;
        }
    /* END TEXT */

    /* LISTS */
        ul.glassList {
            list-style: url(../../images/aquadot.jpg) disc outside;
            vertical-align: top;
            /*line-height: 1.5em;*/
        }
        dl {
            margin: 0 0 1.5em 0;
            padding: 0;
            /*line-height: 1.4em;*/
        }

        dl dt {
            font-weight: bold;
            margin: 0.25em 0 0.25em 0;
            padding: 0;
        }

        dl dd {
            margin: 0 0 0 30px;
            padding: 0;
        }

    /* END LISTS */

    /* TABLE */
        table {
            font-size: 1em;
            margin: 0 0 0 0;
            padding: 0;
        }

        table caption {
            /*font-weight: bold;*/
            margin: 0 0 0 0;
            padding: 0 0 1.5em 0;
        }

        th {
            /*font-weight: bold;*/
            font-size: 9px;
            text-align: center;
        }

        td {
           font-size: 1em;           
        }

        /*********************************
           Project: CSS Table Galery
           Title: Like Adwords
           Author: Cleiton Francisco
           URL: http://www.cleiton.net/
           Country: Brazil
           Update: 2005-12-18
         *******************************/

            .table {
                border-collapse: collapse;
                border: 0px #fff;
                color: #000;
                background: #fff;
                width: 100%;
            }
                .table caption {
                    padding: 0 0.6em 0.8em;
                    font-size: 1.3em;
                    /*font-weight: bold;*/
                    text-align: center;
                    color: #000;
                    background: transparent;
                }
                /* For Tapestry's contribTable */
                .table th table, .table th table td {
                    width: 100%;
                    border: 0px;                    
                }
                .contribTable th {
                    padding: 0px !important;
                    background: #d7e9f5;
                    color: #000000; 
                }
                .contribTable th .tableHeaderTable {
                    margin: 0px !important;
                }
                .table th, .tableHeaderTable td {
                    /*border: 1px solid #D6D7D6;*/
                    padding: 0.5em;
                    font-size: 9pt;
                    text-align: center;  
                    color: #000000;                       
                }
                .table td {                                 /* table td */         
                    text-align: center;    
					border-bottom-style: solid ; 
					border-bottom-color: #D6D7D6; 				
					border-bottom-width: 1px; 	        
					height:30px;           
                }                                
                .table thead th, .tableHeaderTable td { /* table header */
                    border: 1px solid #fff;
                    text-align: center;
                    font-size: 9pt;
                    text-decoration: none; 
                    color: #000000; 
                    /*font-weight: bold;*/
                    height:30px;
                    background: #E3E3E3; /*header bg color */
                    background-color:#E3E3E3;                               
                    border-bottom-style: solid ; 
					border-bottom-color: #808285; 				
					border-bottom-width: 1px; 	                                          
                }
                .tableHeaderTable td a {
                    text-decoration: none !important;
                }
                .table tfoot th, tfoot td {
                    /*border: 1px solid #e0e0e0;*/
                    text-align: center;
                    font-size: 1em;
                    /*background: #e8e8cf;*/
                }
                .table tfoot th {
                    /*font-weight: bold;*/
                    color: #000000; 
                }
                .table tbody td a {
                    background: transparent;
                    text-decoration: underline;
                }
                .table tbody td a:hover {
                    background: transparent;
                    text-decoration: underline;
                }
                .table tbody th a {
                    background: transparent;
                    text-decoration: underline;
                    /*font-weight: bold;*/
                }
                .table tbody th, .table tbody td {
                    text-align: center;
                }
                .table tfoot td {
                    /*border: 1px solid #996;*/
                }
                .table tbody tr:hover, .table tr.over, .contribTable tr:hover {
                    background: #f7f7f7 !important; 
                    /* important needed for Tapestry, as is .table tr:hover */
                }
                .contribTable tr.even {
                    background: #fff !important;                 
                }
                .contribTable tr.odd {
                    background: #fff !important;
                }
                

    /* END TABLE */

    hr {
        display: none;
    }
 
    div.hr {
        height: 1px;
        margin: 1.5em 10px;
        border-bottom: 1px dotted black;
    }
/* END TYPOGRAPHY */
