<chapter id="mybatis_mybatis-spring">
	<title>MyBatis-Spring</title>
	<para>
		MyBatis-Spring은 MyBatis와 Spring Framework와 연계를 원활하게 해주는 오픈 소스이다.
		MyBatis-Spring 모듈을 사용하면 MyBatis factory와 session 클래스 등 을 스프링에서 load 한다. 
		또한 Spring Bean에서 MyBatis data mapper, SqlSession을 inject 할 수 있도록 제공해주며 transation을 Spring Framework으로 위임 할 수 있다.		
	</para>
	<note>
		<title>Why MyBatis-Spring?</title>
		<para>
			Spring version 2 에서는 iBatis version 2를 지원하고 있다. MyBatis를 Spring version 3 에서 지원하도록 노력하였으나 Spring version 3 개발완료 시점에 MyBatis는 릴리즈를 하지 못하였다.
			Spring 팀에서는 릴리즈가 되지 않은 MyBatis를 Spring과 연계 하는것을 원하지 않았고 이로 인하여 Spring version 3에서 MyBatis 지원은 연기 되었다.
			(Spring 3.1 에서 지원된다고 하였으나 그 역시 연기 되었고 언제가 될지는 확실하지 않다. 본 매뉴얼이 작성될 당시 Spring 최신 버전은 3.1.1 임)			
			Spring 연계에 지속적으로 관심을 가지고 있던 MyBatis 커뮤니티에서는 관련있는 사람들을 모아서 MyBatis-Spring 이라는 서브 프로젝트를 만들어 Spring과의 연계를 지원하고 있다.			
		</para>
	</note>
</chapter>
