<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
 
    <session-factory>
        <!--hibernate jdbc configuration here-->
        <!--hibernate jdbc configuration-START-->
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>        
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.username">SA</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost/sampledb</property>
        <!--hibernate jdbc configuration-END-->        
        <property name="hibernate.connection.autocommit">true</property>        
        <property name="hibernate.connection.shutdown">true</property>            
		<!--Add new mapping class name here-->
    </session-factory>
   
</hibernate-configuration>