/* FILE UPLOAD UI STYLE */


.file-upload {
	border: thin solid lightgrey;
	min-width : 500px;
	min-height: 80px;
	width : auto;
	height : auto;
	font-size: 12px;
	background-color : rgb(255, 255, 255);
	overflow : auto;
}

.file-list {
	margin: 0px 5px;
	border-top: 1px solid lightgrey;
	color : rgb(154,154, 154);
	font-size : 12px;
}

.file-list>div {
	margin: 5px;
}

.file-browse-bar {
	font-size: 14px;
	padding : 5px;
	overflow : auto;
	zoom : 1;
}

/*
.file-upload-bar {
	font-size : 14px;
	padding : 5px;
	overflow : auto;
	zoom : 1;
}
*/

.browse-btn {
	float : left;
	zoom : 1;
}

.reset-btn {
	float : right;
	zoom : 1;
}

/*
.upload-btn {
	float : left;
	zoom : 1;
}
*/

.list-row {
	font-size: 12px;
	margin: 5px;
	text-align : left;
	overflow : auto;
	/*
	clear : both;
	*/
}

.file-name {
	float : left;
	margin : 5px;
}

.size {
	display : inline-block;
	margin: 5px;
	float: right;
	width : 84px;
	text-align : right;
	color : grey;
}

.change-size {
	color : rgb(24, 161, 209);
}

.file-progressbar {
	height: 10px;
	width: 160px;
	right: 20px;
	float: right;
	margin : 5px 0px;
	border: thin solid lightgrey;
}

.icon-list {
	float : left;
	margin : 2px;
	vertical-align : middle;
	width: 22px;
	height: 22px;
	
}

.icon-front {
	margin-right: 4px;
}

.icon-end {
	margin-left : 4px;
	float : right;
	cursor : pointer;
}

.success-msg {
	margin : 5px;
	float : left;
	padding : 5px;
	font-size : 12px;
	color : rgb(62, 164, 212);
	vertical-align : middle;
}

.fail-msg {
	position : absolute;
	margin : 2px;
	font-size : 12px;
	text-align : center;
	color : rgb(240, 76, 34);
	z-index : 100;
}

a.fail-delete,
a.fail-delete:visited {
	color : rgb(62, 164, 212);
}

a.fail-delete:hover {
	color : rgb(67, 181, 232);
	cursor : pointer;
}


.file-tooltip {
	position : absolute;
	display : inline-block;
	border : 1px solid lightgrey;
	background-color : white;
	color : grey;
}
