/****************************************************************************************************************
                                             FONTS                                                              *
*****************************************************************************************************************
*/

@font-face {
    fontFamily:"YW_DOTUM";
    src: url("../fonts/YW_DOTUM.TTF"); 
}

/*
AccordionHeader
{
	disabledSkin: Embed(source="assets/images/AccordionHeader_disabledSkin.png");
	downSkin: Embed(source="assets/images/AccordionHeader_downSkin.png");
	overSkin: Embed(source="assets/images/AccordionHeader_overSkin.png");
	selectedSkin: Embed(source="assets/images/AccordionHeader_selectedSkin.png");
	upSkin: Embed(source="assets/images/AccordionHeader_upSkin.png");
}
*/
Button
{
	disabledSkin: Embed(source="assets/images/Button_disabledSkin.png");
	downSkin: Embed(source="assets/images/Button_downSkin.png");
	overSkin: Embed(source="assets/images/Button_overSkin.png");
	upSkin: Embed(source="assets/images/Button_upSkin.png");
	fontFamily: verdana;
	textAlign: center;
}
.button01
{
	disabledSkin: Embed(source="assets/images/Button_disabledSkin.png");
	downSkin: Embed(source="assets/images/Button_downSkin_01.png");
	overSkin: Embed(source="assets/images/Button_overSkin_01.png");
	upSkin: Embed(source="assets/images/Button_upSkin_01.png");
	fontFamily: verdana;
	textAlign: center;
}

.buttonLogin
{
	disabledSkin: Embed(source="assets/images/Button_btn_login_disabledSkin.png");
	downSkin: Embed(source="assets/images/Button_btn_login_downSkin.png");
	overSkin: Embed(source="assets/images/Button_btn_login_overSkin.png");
	upSkin: Embed(source="assets/images/Button_btn_login_upSkin.png");
}
.buttonLogout
{
	disabledSkin: Embed(source="assets/images/btn_logout_over.png");
	downSkin: Embed(source="assets/images/btn_logout_over.png");
	overSkin: Embed(source="assets/images/btn_logout_over.png");
	upSkin: Embed(source="assets/images/btn_logout.png");
}
.buttonSearch
{
	downSkin: Embed(source="assets/images/btn_search_downSkin.png");
	overSkin: Embed(source="assets/images/btn_search_overSkin.png");
	upSkin: Embed(source="assets/images/btn_search_upSkin.png");
}
.buttonRight
{
	downSkin: Embed(source="assets/images/DateChooser_nextMonthDownSkin.png");
	overSkin: Embed(source="assets/images/DateChooser_nextMonthDownSkin.png");
	upSkin: Embed(source="assets/images/DateChooser_nextMonthUpSkin.png");
}
.buttonLeft
{
	downSkin: Embed(source="assets/images/DateChooser_prevMonthDownSkin.png");
	overSkin: Embed(source="assets/images/DateChooser_prevMonthDownSkin.png");
	upSkin: Embed(source="assets/images/DateChooser_prevMonthUpSkin.png");
}

ButtonBar
{
	buttonStyleName: "buttonBarButton";
	firstButtonStyleName: "buttonBarFirstButton";
	lastButtonStyleName: "buttonBarLastButton";
}
.buttonBarButton
{
	disabledSkin: Embed(source="assets/images/ButtonBar-button_disabledSkin.png");
	downSkin: Embed(source="assets/images/ButtonBar-button_downSkin.png");
	overSkin: Embed(source="assets/images/ButtonBar-button_overSkin.png");
	selectedDisabledSkin: Embed(source="assets/images/ButtonBar-button_selectedDisabledSkin.png");
	selectedUpSkin: Embed(source="assets/images/ButtonBar-button_selectedUpSkin.png");
	upSkin: Embed(source="assets/images/ButtonBar-button_upSkin.png");
}
.buttonBarFirstButton
{
	disabledSkin: Embed(source="assets/images/ButtonBar-firstButton_disabledSkin.png");
	downSkin: Embed(source="assets/images/ButtonBar-firstButton_downSkin.png");
	overSkin: Embed(source="assets/images/ButtonBar-firstButton_overSkin.png");
	selectedDisabledSkin: Embed(source="assets/images/ButtonBar-firstButton_selectedDisabledSkin.png");
	selectedUpSkin: Embed(source="assets/images/ButtonBar-firstButton_selectedUpSkin.png");
	upSkin: Embed(source="assets/images/ButtonBar-firstButton_upSkin.png");
}
.buttonBarLastButton
{
	disabledSkin: Embed(source="assets/images/ButtonBar-lastButton_disabledSkin.png");
	downSkin: Embed(source="assets/images/ButtonBar-lastButton_downSkin.png");
	overSkin: Embed(source="assets/images/ButtonBar-lastButton_overSkin.png");
	selectedDisabledSkin: Embed(source="assets/images/ButtonBar-lastButton_selectedDisabledSkin.png");
	selectedUpSkin: Embed(source="assets/images/ButtonBar-lastButton_selectedUpSkin.png");
	upSkin: Embed(source="assets/images/ButtonBar-lastButton_upSkin.png");
}

Canvas
{
	borderSkin: Embed(source="assets/images/Canvas_Skin.png");
	closeButtonDisabledSkin: Embed(source="assets/images/Panel_closeButtonDisabledSkin.png");
	closeButtonDownSkin: Embed(source="assets/images/Panel_closeButtonDownSkin.png");
	closeButtonOverSkin: Embed(source="assets/images/Panel_closeButtonOverSkin.png");
	closeButtonUpSkin: Embed(source="assets/images/Panel_closeButtonUpSkin.png");
	controlBarBackgroundSkin: Embed(source="assets/images/Panel_controlBarBackgroundSkin.png");
	horizontalAlign: center;
}
.canvasTree
{
	borderSkin: Embed(source="assets/images/Panel_treeSkin.png");
	closeButtonDisabledSkin: Embed(source="assets/images/Panel_closeButtonDisabledSkin.png");
	closeButtonDownSkin: Embed(source="assets/images/Panel_closeButtonDownSkin.png");
	closeButtonOverSkin: Embed(source="assets/images/Panel_closeButtonOverSkin.png");
	closeButtonUpSkin: Embed(source="assets/images/Panel_closeButtonUpSkin.png");
	controlBarBackgroundSkin: Embed(source="assets/images/Panel_controlBarBackgroundSkin.png");
	horizontalAlign: center;
}
.canvasMain
{
	borderSkin: Embed(source="assets/images/bg_mainimg2.png");
	horizontalAlign: center;
}
CheckBox
{
	disabledIcon: Embed(source="assets/images/CheckBox_disabledIcon.png");
	downIcon: Embed(source="assets/images/CheckBox_downIcon.png");
	overIcon: Embed(source="assets/images/CheckBox_overIcon.png");
	selectedDisabledIcon: Embed(source="assets/images/CheckBox_selectedDisabledIcon.png");
	selectedDownIcon: Embed(source="assets/images/CheckBox_selectedDownIcon.png");
	selectedOverIcon: Embed(source="assets/images/CheckBox_selectedOverIcon.png");
	selectedUpIcon: Embed(source="assets/images/CheckBox_selectedUpIcon.png");
	upIcon: Embed(source="assets/images/CheckBox_upIcon.png");
}
/*
ColorPicker
{
	disabledSkin: Embed(source="assets/images/ColorPicker_disabledSkin.png");
	downSkin: Embed(source="assets/images/ColorPicker_downSkin.png");
	overSkin: Embed(source="assets/images/ColorPicker_overSkin.png");
	upSkin: Embed(source="assets/images/ColorPicker_upSkin.png");
}
*/
ComboBox {
	overSkin: Embed(source="assets/skin/ComboBox_overSkin.png");
	downSkin: Embed(source="assets/skin/ComboBox_downSkin.png");
	selectedDisabledSkin: Embed(source="assets/images/ComboBoxArrow_editableDisabledSkin.png");
	selectedDownSkin: Embed(source="assets/images/ComboBoxArrow_editableDownSkin.png");
	selectedOverSkin: Embed(source="assets/images/ComboBoxArrow_editableOverSkin.png");
	selectedUpSkin: Embed(source="assets/images/ComboBoxArrow_editableUpSkin.png");
	upSkin: Embed(source="assets/skin/ComboBox_upSkin.png");
	dropdownBorderColor: #3e577c;
	alternatingItemColors: #d1d9e5,#d1d9e5;
	selectionColor: #a3b3cb;
	dropdownStyleName: "myComboBoxDropDowns";
	themeColor: #a3b3cb;
	rollOverColor: #8897ac;
}
.comboBox2
{
	color: #000000;
    borderColor: #b7babc;
    fillAlphas: 1, 0.4, 0.75, 0.65;
    fillColors: #373c50, #7d8295, #818599, #6a6c7b;
    selectionColor: #89a1c6;
    textSelectedColor: #333333;
    useRollOver: true;
    rollOverColor: #b8cae6;
    textRollOverColor: #333333;
    themeColor: #515a7a;
    alternatingItemColors: #d1d9e5, #d1d9e5;
    fontWeight: bold;
    dropdownStyleName: "myComboBoxDropDowns";
	
}
.myComboBoxDropDowns {
   borderThickness: 1;
   color: #333333;
}

.comboboxWhite
{
	disabledSkin: Embed(source="assets/skin/ComboBox_disabledSkin_white.png");
	downSkin: Embed(source="assets/skin/ComboBox_downSkin_white.png");
	overSkin: Embed(source="assets/skin/ComboBox_overSkin_white.png");
	selectedDisabledSkin: Embed(source="assets/images/ComboBoxArrow_editableDisabledSkin.png");
	selectedDownSkin: Embed(source="assets/images/ComboBoxArrow_editableDownSkin.png");
	selectedOverSkin: Embed(source="assets/images/ComboBoxArrow_editableOverSkin.png");
	selectedUpSkin: Embed(source="assets/images/ComboBoxArrow_editableUpSkin.png");
	upSkin: Embed(source="assets/skin/ComboBox_upSkin_white.png");
	editableDisabledSkin: Embed(source="assets/skin/ComboBox_editableDisabledSkin.png");
	editableDownSkin: Embed(source="assets/skin/ComboBox_editableDownSkin.png");
	editableOverSkin: Embed(source="assets/skin/ComboBox_editableOverSkin.png");
	editableUpSkin: Embed(source="assets/skin/ComboBox_editableUpSkin.png");
}


DataGrid
{
	columnDropIndicatorSkin: Embed(source="assets/images/DataGrid_columnDropIndicatorSkin.png");
	columnResizeSkin: Embed(source="assets/images/DataGrid_columnResizeSkin.png");
	headerBackgroundSkin: Embed(source="assets/images/DataGrid_headerBackgroundSkin.png");
	headerSeparatorSkin: Embed(source="assets/images/DataGrid_headerSeparatorSkin.png");
	sortArrowSkin: Embed(source="assets/images/DataGrid_sortArrowSkin.png");
	stretchCursor: Embed(source="assets/images/DataGrid_stretchCursor.png");
	alternatingItemColors: #d3d3d3, #ececec;
	borderColor: #a7a8ab;
	verticalGridLineColor: #585b63;
	borderThickness: 1;
	borderStyle: solid;
	rollOverColor: #4b5564;
	selectionColor: #abbdd2;
	headerStyleName: mydataGrid;
	useRollOver: true;
	textRollOverColor: #ffffff;
	backgroundColor: #ececec;
	fontSize: 11;
	fontFamily: "YW_DOTUM";
}

.mydataGrid {
   color: #ffffff;
   fontWeight: bold;
   fontStyle: normal;
   textDecoration: none;
}

DateChooser
{
	nextMonthDisabledSkin: Embed(source="assets/images/DateChooser_nextMonthDisabledSkin.png");
	nextMonthDownSkin: Embed(source="assets/images/DateChooser_nextMonthDownSkin.png");
	nextMonthOverSkin: Embed(source="assets/images/DateChooser_nextMonthOverSkin.png");
	nextMonthUpSkin: Embed(source="assets/images/DateChooser_nextMonthUpSkin.png");
	nextYearDisabledSkin: Embed(source="assets/images/DateChooser_nextYearDisabledSkin.png");
	nextYearDownSkin: Embed(source="assets/images/DateChooser_nextYearDownSkin.png");
	nextYearOverSkin: Embed(source="assets/images/DateChooser_nextYearOverSkin.png");
	nextYearUpSkin: Embed(source="assets/images/DateChooser_nextYearUpSkin.png");
	prevMonthDisabledSkin: Embed(source="assets/images/DateChooser_prevMonthDisabledSkin.png");
	prevMonthDownSkin: Embed(source="assets/images/DateChooser_prevMonthDownSkin.png");
	prevMonthOverSkin: Embed(source="assets/images/DateChooser_prevMonthOverSkin.png");
	prevMonthUpSkin: Embed(source="assets/images/DateChooser_prevMonthUpSkin.png");
	prevYearDisabledSkin: Embed(source="assets/images/DateChooser_prevYearDisabledSkin.png");
	prevYearDownSkin: Embed(source="assets/images/DateChooser_prevYearDownSkin.png");
	prevYearOverSkin: Embed(source="assets/images/DateChooser_prevYearOverSkin.png");
	prevYearUpSkin: Embed(source="assets/images/DateChooser_prevYearUpSkin.png");
	rollOverIndicatorSkin: Embed(source="assets/images/DateChooser_rollOverIndicatorSkin.png");
	selectionIndicatorSkin: Embed(source="assets/images/DateChooser_selectionIndicatorSkin.png");
	todayIndicatorSkin: Embed(source="assets/images/DateChooser_todayIndicatorSkin.png");
}
DateField
{
	disabledSkin: Embed(source="assets/images/DateField_disabledSkin.png");
	downSkin: Embed(source="assets/images/DateField_downSkin.png");
	overSkin: Embed(source="assets/images/DateField_overSkin.png");
	upSkin: Embed(source="assets/images/DateField_upSkin.png");
}
DividedBox
{
	dividerSkin: Embed(source="assets/images/DividedBox_dividerSkin.png");
	horizontalCursor: Embed(source="assets/images/DividedBox_horizontalCursor.png");
	verticalCursor: Embed(source="assets/images/DividedBox_verticalCursor.png");
}
DragManager
{
	copyCursor: Embed(source="assets/images/DragManager_copyCursor.png");
	defaultDragImageSkin: Embed(source="assets/images/DragManager_defaultDragImageSkin.png");
	linkCursor: Embed(source="assets/images/DragManager_linkCursor.png");
	moveCursor: Embed(source="assets/images/DragManager_moveCursor.png");
	rejectCursor: Embed(source="assets/images/DragManager_rejectCursor.png");
}
FormItem
{
	indicatorSkin: Embed(source="assets/images/FormItem_indicatorSkin.png");
}

HScrollBar
{
	downArrowDisabledSkin: Embed(source="assets/images/HScrollBar_downArrowDisabledSkin.png");
	downArrowDownSkin: Embed(source="assets/images/HScrollBar_downArrowDownSkin.png");
	downArrowOverSkin: Embed(source="assets/images/HScrollBar_downArrowOverSkin.png");
	downArrowUpSkin: Embed(source="assets/images/HScrollBar_downArrowUpSkin.png");
	thumbDownSkin: Embed(source="assets/images/HScrollBar_thumbDownSkin.png");
	thumbIcon: Embed(source="assets/images/HScrollBar_thumbIcon.png");
	thumbOverSkin: Embed(source="assets/images/HScrollBar_thumbOverSkin.png");
	thumbUpSkin: Embed(source="assets/images/HScrollBar_thumbUpSkin.png");
	trackDisabledSkin: Embed(source="assets/images/HScrollBar_trackDisabledSkin.png");
	trackSkin: Embed(source="assets/images/HScrollBar_trackSkin.png");
	upArrowDisabledSkin: Embed(source="assets/images/HScrollBar_upArrowDisabledSkin.png");
	upArrowDownSkin: Embed(source="assets/images/HScrollBar_upArrowDownSkin.png");
	upArrowOverSkin: Embed(source="assets/images/HScrollBar_upArrowOverSkin.png");
	upArrowUpSkin: Embed(source="assets/images/HScrollBar_upArrowUpSkin.png");
}
/*
LinkButton
{
	disabledSkin: Embed(source="assets/images/LinkButton_disabledSkin.png");
	downSkin: Embed(source="assets/images/LinkButton_downSkin.png");
	overSkin: Embed(source="assets/images/LinkButton_overSkin.png");
	upSkin: Embed(source="assets/images/LinkButton_upSkin.png");
}
List
{
	borderSkin: Embed(source="assets/images/List_borderSkin.png");
}
Menu
{
	branchDisabledIcon: Embed(source="assets/images/Menu_branchDisabledIcon.png");
	branchIcon: Embed(source="assets/images/Menu_branchIcon.png");
	checkDisabledIcon: Embed(source="assets/images/Menu_checkDisabledIcon.png");
	checkIcon: Embed(source="assets/images/Menu_checkIcon.png");
	radioDisabledIcon: Embed(source="assets/images/Menu_radioDisabledIcon.png");
	radioIcon: Embed(source="assets/images/Menu_radioIcon.png");
	separatorSkin: Embed(source="assets/images/Menu_separatorSkin.png");
}
MenuBar
{
	backgroundSkin: Embed(source="assets/images/MenuBar_backgroundSkin.png");
	itemDownSkin: Embed(source="assets/images/MenuBar_itemDownSkin.png");
	itemOverSkin: Embed(source="assets/images/MenuBar_itemOverSkin.png");
	itemUpSkin: Embed(source="assets/images/MenuBar_itemUpSkin.png");
}
*/
Module
{
	borderSkin: Embed(source="assets/images/bg_contents.png");
	horizontalAlign: center;
}
/*
NumericStepper
{
	downArrowDisabledSkin: Embed(source="assets/images/NumericStepper_downArrowDisabledSkin.png");
	downArrowDownSkin: Embed(source="assets/images/NumericStepper_downArrowDownSkin.png");
	downArrowOverSkin: Embed(source="assets/images/NumericStepper_downArrowOverSkin.png");
	downArrowUpSkin: Embed(source="assets/images/NumericStepper_downArrowUpSkin.png");
	upArrowDisabledSkin: Embed(source="assets/images/NumericStepper_upArrowDisabledSkin.png");
	upArrowDownSkin: Embed(source="assets/images/NumericStepper_upArrowDownSkin.png");
	upArrowOverSkin: Embed(source="assets/images/NumericStepper_upArrowOverSkin.png");
	upArrowUpSkin: Embed(source="assets/images/NumericStepper_upArrowUpSkin.png");
}
*/
Panel
{
	borderSkin: Embed(source="assets/images/Panel_borderSkin.png");
	closeButtonDisabledSkin: Embed(source="assets/images/Panel_closeButtonDisabledSkin.png");
	closeButtonDownSkin: Embed(source="assets/images/Panel_closeButtonDownSkin.png");
	closeButtonOverSkin: Embed(source="assets/images/Panel_closeButtonOverSkin.png");
	closeButtonUpSkin: Embed(source="assets/images/Panel_closeButtonUpSkin.png");
	controlBarBackgroundSkin: Embed(source="assets/images/Panel_controlBarBackgroundSkin.png");
	horizontalAlign: center;
	fontFamily: "YW_DOTUM";
	fontSize: 11;
}
.panelLogin
{
	borderSkin: Embed(source="assets/images/panel_login.png");
	closeButtonDisabledSkin: Embed(source="assets/images/Panel_closeButtonDisabledSkin.png");
	closeButtonDownSkin: Embed(source="assets/images/Panel_closeButtonDownSkin.png");
	closeButtonOverSkin: Embed(source="assets/images/Panel_closeButtonOverSkin.png");
	closeButtonUpSkin: Embed(source="assets/images/Panel_closeButtonUpSkin.png");
	controlBarBackgroundSkin: Embed(source="assets/images/Panel_controlBarBackgroundSkin.png");
	horizontalAlign: center;
}
.panelMainimg
{
	borderSkin: Embed(source="assets/images/bg_mainimg.png");
}

.panelMain
{
	borderSkin: Embed(source="assets/images/bg_mainpanel.png");
	closeButtonDisabledSkin: Embed(source="assets/images/Panel_closeButtonDisabledSkin.png");
	closeButtonDownSkin: Embed(source="assets/images/Panel_closeButtonDownSkin.png");
	closeButtonOverSkin: Embed(source="assets/images/Panel_closeButtonOverSkin.png");
	closeButtonUpSkin: Embed(source="assets/images/Panel_closeButtonUpSkin.png");
	controlBarBackgroundSkin: Embed(source="assets/images/Panel_controlBarBackgroundSkin.png");
	horizontalAlign: center;
}
.panelContents
{
	borderSkin: Embed(source="assets/images/bg_contents.png");
	closeButtonDisabledSkin: Embed(source="assets/images/Panel_closeButtonDisabledSkin.png");
	closeButtonDownSkin: Embed(source="assets/images/Panel_closeButtonDownSkin.png");
	closeButtonOverSkin: Embed(source="assets/images/Panel_closeButtonOverSkin.png");
	closeButtonUpSkin: Embed(source="assets/images/Panel_closeButtonUpSkin.png");
	controlBarBackgroundSkin: Embed(source="assets/images/Panel_controlBarBackgroundSkin.png");
	horizontalAlign: center;
}
.panelTree
{
	borderSkin: Embed(source="assets/images/Panel_treeSkin2.png");
	horizontalAlign: center;
}


PopUpButton
{
	disabledSkin: Embed(source="assets/images/PopUpButton_disabledSkin.png");
	downSkin: Embed(source="assets/images/PopUpButton_downSkin.png");
	overSkin: Embed(source="assets/images/PopUpButton_overSkin.png");
	popUpDownSkin: Embed(source="assets/images/PopUpButton_popUpDownSkin.png");
	popUpOverSkin: Embed(source="assets/images/PopUpButton_popUpOverSkin.png");
	upSkin: Embed(source="assets/images/PopUpButton_upSkin.png");
}
/*
ProgressBar
{
	barSkin: Embed(source="assets/images/ProgressBar_barSkin.png");
	indeterminateSkin: Embed(source="assets/images/ProgressBar_indeterminateSkin.png");
	trackSkin: Embed(source="assets/images/ProgressBar_trackSkin.png");
}
RadioButton
{
	disabledIcon: Embed(source="assets/images/RadioButton_disabledIcon.png");
	downIcon: Embed(source="assets/images/RadioButton_downIcon.png");
	overIcon: Embed(source="assets/images/RadioButton_overIcon.png");
	selectedDisabledIcon: Embed(source="assets/images/RadioButton_selectedDisabledIcon.png");
	selectedDownIcon: Embed(source="assets/images/RadioButton_selectedDownIcon.png");
	selectedOverIcon: Embed(source="assets/images/RadioButton_selectedOverIcon.png");
	selectedUpIcon: Embed(source="assets/images/RadioButton_selectedUpIcon.png");
	upIcon: Embed(source="assets/images/RadioButton_upIcon.png");
}
Slider
{
	thumbDisabledSkin: Embed(source="assets/images/Slider_thumbDisabledSkin.png");
	thumbDownSkin: Embed(source="assets/images/Slider_thumbDownSkin.png");
	thumbOverSkin: Embed(source="assets/images/Slider_thumbOverSkin.png");
	thumbUpSkin: Embed(source="assets/images/Slider_thumbUpSkin.png");
	trackHighlightSkin: Embed(source="assets/images/Slider_trackHighlightSkin.png");
	trackSkin: Embed(source="assets/images/Slider_trackSkin.png");
}
SWFLoader
{
	brokenImageSkin: Embed(source="assets/images/SWFLoader_brokenImageSkin.png");
}
*/
TabNavigator
{
	disabledSkin: Embed(source="assets/images/TabBar-tab_disabledSkin.png");
	downSkin: Embed(source="assets/images/TabBar-tab_downSkin.png");
	overSkin: Embed(source="assets/images/TabBar-tab_overSkin.png");
	selectedDisabledSkin: Embed(source="assets/images/TabBar-tab_selectedDisabledSkin.png");
	selectedUpSkin: Embed(source="assets/images/TabBar-tab_selectedUpSkin.png");
	selectedOverSkin: Embed(source="assets/images/TabBar-tab_selectedUpSkin.png");
	upSkin: Embed(source="assets/images/TabBar-tab_upSkin.png");
}

TabBar
{
	tabStyleName: "tabBarTab";
	firstTabStyleName: "tabBarTab";
	lastTabStyleName: "tabBarTab";
	paddingLeft: 20;
}
.tabBarTab
{
	disabledSkin: Embed(source="assets/images/TabBar-tab_disabledSkin.png");
	downSkin: Embed(source="assets/images/TabBar-tab_downSkin.png");
	overSkin: Embed(source="assets/images/TabBar-tab_overSkin.png");
	selectedDisabledSkin: Embed(source="assets/images/TabBar-tab_selectedDisabledSkin.png");
	selectedUpSkin: Embed(source="assets/images/TabBar-tab_selectedUpSkin.png");
	selectedOverSkin: Embed(source="assets/images/TabBar-tab_selectedUpSkin.png");
	upSkin: Embed(source="assets/images/TabBar-tab_upSkin.png");
}
TextArea
{
	borderSkin: Embed(source="assets/images/TextArea_borderSkin.png");
	focusSkin: Embed(source="assets/images/TextArea_focusSkin.png");
}
TextInput
{
	borderSkin: Embed(source="assets/images/TextInput_borderSkin.png");
	color: #333333;
	focusThickness: 2;
	cornerRadius: 4;
	paddingRight: 2;
	paddingTop: 2;
	backgroundColor: #ffffff;
}
ToolTip
{
	borderSkin: Embed(source="assets/images/ToolTip_borderSkin.png");
}
Tree
{
	borderSkin: Embed(source="assets/images/Tree_borderSkin.png");
	disclosureClosedIcon: Embed(source="assets/images/Tree_disclosureClosedIcon.png");
	disclosureOpenIcon: Embed(source="assets/images/Tree_disclosureOpenIcon.png");
	folderClosedIcon: Embed(source="assets/images/Tree_folderClosedIcon.png");
	folderOpenIcon: Embed(source="assets/images/Tree_folderOpenIcon.png");
	paddingLeft: 12;
	fontWeight: bold;
	defaultLeafIcon: Embed(source="assets/images/Tree_defaultLeafIcon.png");
}


VScrollBar
{
	downArrowDisabledSkin: Embed(source="assets/images/VScrollBar_downArrowDisabledSkin.png");
	downArrowDownSkin: Embed(source="assets/images/VScrollBar_downArrowDownSkin.png");
	downArrowOverSkin: Embed(source="assets/images/VScrollBar_downArrowOverSkin.png");
	downArrowUpSkin: Embed(source="assets/images/VScrollBar_downArrowUpSkin.png");
	thumbDownSkin: Embed(source="assets/images/VScrollBar_thumbDownSkin.png");
	thumbIcon: Embed(source="assets/images/VScrollBar_thumbIcon.png");
	thumbOverSkin: Embed(source="assets/images/VScrollBar_thumbOverSkin.png");
	thumbUpSkin: Embed(source="assets/images/VScrollBar_thumbUpSkin.png");
	trackDisabledSkin: Embed(source="assets/images/VScrollBar_trackDisabledSkin.png");
	trackSkin: Embed(source="assets/images/VScrollBar_trackSkin.png");
	upArrowDisabledSkin: Embed(source="assets/images/VScrollBar_upArrowDisabledSkin.png");
	upArrowDownSkin: Embed(source="assets/images/VScrollBar_upArrowDownSkin.png");
	upArrowOverSkin: Embed(source="assets/images/VScrollBar_upArrowOverSkin.png");
	upArrowUpSkin: Embed(source="assets/images/VScrollBar_upArrowUpSkin.png");
}
Alert
{
	color: #010101;
	fontFamily: "YW_DOTUM";
	fontSize: 12;
}
Label
{
	fontFamily: "YW_DOTUM";
	fontSize: 11;
}
Text
{
	fontFamily: "굴림";
}

PagingLinkBar
{
	horizontalGap: 8; 
	paddingBottom: 0;
	paddingLeft: 2;
	paddingRight: 2;
	paddingTop: 0;
	buttonStyleName: "pagingLinkBarButtonStyle";
	selectedButtonStyleName: "pagingLinkBarSelectedButtonStyle";
	separatorColor: #C4CCCC;
	separatorSkin: ClassReference("mx.skins.halo.LinkSeparator");
	separatorWidth: 1;
	verticalGap: 8;

    /*
	firstIcon: ClassReference(null);
	lastIcon: ClassReference(null);
	prevIcon: ClassReference(null);
	nextIcon: ClassReference(null);
    */
}

/*
//------------------------------
//  pagingLinkBarSelectedButtonStyle
//------------------------------
*/

.pagingLinkBarSelectedButtonStyle
{
	color: #FF0000;
}